@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand-bg: #0e0f11;
  --color-brand-surface: #1a1c1e;
  --color-brand-border: #2c2e33;
  --color-brand-accent: #ff9f0a;
  --color-brand-text: #e1e1e1;
  --color-brand-text-dim: #8e9299;
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-text font-sans;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-brand-border);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-accent);
}
